In [19]:
import os
import pandas as pd
import numpy as np
import json

Set working directory

In [20]:
os.chdir('/Users/ahnate/Files/DataScience/RecordUnionTakeHome/working')

Define function for importing data

In [148]:
def import_dat(input):
    dat = open(input, "r").read()
    # need to replace new lines with commas and format as list for json.loads
    dat = json.loads("[" + dat.replace("}\n{", "},\n{") + "]")
    # convert from json to dataframe
    dat = pd.DataFrame.from_dict(dat, orient='columns')
    return dat

Import data

In [156]:
tracks = import_dat("input/tracks-2017-09-09")
users = import_dat("input/users-2017-09-09")
streams = import_dat("input/streams-2017-09-09-allcountries")

Look at the data

In [160]:
tracks.head()

,album_artist,album_code,album_name,track_id,track_name
0,Tasia Rojas,ece406c1937c4123e6b935f39898770dcaa0382c,Salmon Addition,fe2f34b55827b9721aa503d1dc9f3bca951859de,Doubtful Anteater
1,Gertrude Faulkner,bb94c41eade59eeec79b04aa141c99344528d09f,Newfoundland Quilt,2432c3346fc867e9026174ea73ab787a7fdeaa1f,Heartbreaking Louse
2,Ora Corcoran,0db473f623b01b0134f8178512f91e5ac60cb2af,Havanese Push,cb5e2409dfa5c9c8ccabdca2afeb6e84eca9a435,Watery Tortoise
3,Shanika Wing,4aadb443b1d8cc4c84a6ca1dd348c599396c7c17,Puma Hate,2998e8ecabbf9d220dc22c516740f7982b2353e8,Nutritious Ox
4,Lonnie Hope,a2b64056f39d60b0de18550d43a37b64b1f63dec,Kingfisher Garden,fb581ad122d260941757c5a2b1ed1a42108d632f,Foregoing Umbrellabird

In [161]:
users.head()

,access,birth_year,country,gender,user_id
0,free,1989,8,female,093449f2282b4e4793948bbc3e9f1fd7278c0c49
1,premium,2001,4,female,3e9603e5ab69c5cfe14dcc1954c46cd849940b24
2,premium,1988,52,female,c12f6f2784787619d91f61cf215480b70d47f36e
3,premium,1995,16,female,d55e6dc8e7fdd87d42b639ed27ca95795738308b
4,premium,1996,44,female,6b1867e55d95cd39f0b3eac38518fd11572e732f

In [150]:
streams.head()

,device_type,length,os,timestamp,track_id,user_id
0,mobile,136,iOS,1504923300000,c43ac11b86c603e40aad9a0fbe72d192c0c51ded,3db57275059923d98119850a6233d3c609a171a5
1,desktop,60,Browser,1504951200000,eee087bddc7db49cde2d43df7a04f3975dff4a78,0495eb11e3ca80c0289d3a08b5c60f0227e12314
2,mobile,191,iOS,1504944900000,45e8fe7c02519b99b9284717cd3488eab2ef798e,b3d9fb538674878162e5a93566195daf878723db
3,desktop,268,other,1504980900000,eb1016ee12dc5a3ada044b7dacb716049ed121c8,4831658d8f436e8c6ecf29984c405521de26e654
4,mobile,212,Android,1504916100000,863af142e7604488cfd8f2245b65c9e6cafcd201,e1a1bb65848f54f266273caad9a327d13397889f

Merge into a single dataframe

In [162]:
dat = pd.merge(streams, tracks, how='left', on='track_id')
dat = pd.merge(dat, users, how='left', on='user_id')
dat.head()

,device_type,length,os,timestamp,track_id,user_id,album_artist,album_code,album_name,track_name,access,birth_year,country,gender
0,mobile,136,iOS,1504923300000,c43ac11b86c603e40aad9a0fbe72d192c0c51ded,3db57275059923d98119850a6233d3c609a171a5,Cliff Creech,75a90c8edcf58e51e0026bfbae56792c6be16899,Binturong Brothers,Bright Antelope,free,1956,59,male
1,desktop,60,Browser,1504951200000,eee087bddc7db49cde2d43df7a04f3975dff4a78,0495eb11e3ca80c0289d3a08b5c60f0227e12314,Ginette Rowley,1e0b86be361aea18534e84bfdf480fc302834d76,Llama Wing,Nice Jellyfish,free,1978,43,male
2,mobile,191,iOS,1504944900000,45e8fe7c02519b99b9284717cd3488eab2ef798e,b3d9fb538674878162e5a93566195daf878723db,Cyrus Ramey,46011ca3f67ee35335f0c21578be1c93488d85fe,Caterpillar Doctor,Habitual Starling,premium,2001,16,female
3,desktop,268,other,1504980900000,eb1016ee12dc5a3ada044b7dacb716049ed121c8,4831658d8f436e8c6ecf29984c405521de26e654,Yee Hahn,ae391e580ead6bf97a093fa55e8f9c859e6fdea7,Stork Spoon,Woebegone Markhor,premium,1959,43,male
4,mobile,212,Android,1504916100000,863af142e7604488cfd8f2245b65c9e6cafcd201,e1a1bb65848f54f266273caad9a327d13397889f,Arnita Reaves,da85f773feb394bb022af48d6f8baa50709c44a9,Falcon Line,Irate Birman,premium,1996,59,female

## Factors that could predict streaming fraud

<ul>
    <li>Same user_id (or several user_ids) with some type of consistently non-normal listening behavior.</li>
    <li>Make clusters of different types of user_ids behavior</li>
    <li>Find the user_ids that have "non-normal" or atypical behavior</li>
</ul>

## "Non-normal" or atypical user behavior

<ul>
    <li>Listening to very narrow range of artists</li>
    <li>Listening to tracks in a manner that's too uniform</li>
    <li>Look at length variable</li>
    <li>Look at time stamp</li>
</ul>